@model Listing

@{
	ViewData["Title"] = "Dodavanje novog posta";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-action="Index">Popis postova</a></li>
		<li class="breadcrumb-item active" aria-current="page">Novi post</li>
	</ol>
</nav>

<div class="row">
	<div class="col-md-4">
		<form asp-controller ="SecondHand" asp-action="Create" method="post">
			<partial name="_CreateOrEdit" />
		</form>
	</div>
</div>